<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- Facebook Meta Tags / 페이스북 오픈 그래프 -->
    <meta property="og:url" content="http://kindtiger.dothome.co.kr/insta">
    <meta property="og:type" content="website">
    <meta property="og:title" content="instagram">
    <meta property="og:description" content="instagram clone">
    <meta property="og:image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">
    .
    <!-- Twitter Meta Tags / 트위터 -->
    <meta name="twitter:card" content="instagram clone">
    <meta name="twitter:title" content="instagram">
    <meta name="twitter:description" content="instagram clone">
    <meta name="twitter:image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">

    <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
    <meta itemprop="name" content="instagram">
    <meta itemprop="description" content="instagram clone">
    <meta itemprop="image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">


    <title>mobldi</title>
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/detail-page.css">
    <link rel="shortcut icon" href="static/images/instagram.png">


    <style>
        #main_container {
            /*height: 6000px;*/
        }
    </style>
</head>
<body>


<section id="container">


    <header id="header">
        <section class="inner">

            <h1 class="logo">  
                <a href="{% url 'testproject:post_list' %}"><img src="static/images/logo.png" alt="프로필이미지" width=150/></a>                  
            </h1>

            <div class="search_box" >
                
              
            </div>
            

            <div><a href="{% url 'account:login'%}">로그인</a></div>

        </section>
        
    </header>

    <div id="main_container">

        <section class="b_inner">

            <div class="contents_box">

                <article class="contents cont01">

                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="{{data.image.url}}" alt="main_contents"></div>
                        </div>
                    </div>


                    <div class="detail--right_box">

                        <header class="top">
                            <div class="user_container">
                                <div class="profile_img">
                                    <img src="static/images/jenny.jpeg" alt="">
                                </div>
                                <div class="user_name">
                                    <div class="nick_name">{{data.user}}</div>
                                    <div class="country">Seoul, South Korea</div>
                                </div>
                            </div>

                        </header>
                        {% for comment in comments|slice:":5" %}
                        {% if comment.post == data  %}
                        <section class="scroll_section">
                            <div class="admin_container">
                                <div class="admin"><img src="static/images/jenny.jpeg" alt="user"></div>
                                <div class="comment">
                                    <span class="user_id">{{comment.author}}</span>{{comment.content}}
                                    <div class="time"></div>
                                </div>
                            </div>
                        </section>
                        {% endif %}
                        {% endfor %}          

                        <div class="count_likes">
                            좋아요
                            <span class="count">{{ data.like }}</span>
                            개
                        </div>
                        <div class="timer">누적 조회시간: {{ data.residence_time }} ms</div>

                        <div class="comment_field">
                            <form action="{% url 'testproject:comment_create' data.id %}" method="POST">
                                {% csrf_token %}
                                
                                <input type="text" placeholder="댓글달기..." name="content">
                       
                                <button type="submit" class="upload_btn m_text" data-name="comment" style="background-color:white; border-color: white; background:">게시</button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>

    <div class="del_pop">
        <div class="btn_box">
            <div class="del">삭제</div>
            <div class="cancel">취소</div>
        </div>
   </div>

</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!--<script src="js/detail.js"></script>-->
</body>
</html>