<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <link rel="stylesheet" href='static/css/reset.css'>
    <link rel="stylesheet" href='static/css/common.css'>
    <link rel="stylesheet" href='static/css/style.css'>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/infiniteScroll.js"></script>
    <title>mobldi</title>

</head>
<body>
    <header id="header">
        <section class="inner">

            <h1 class="logo">                 
                <a href="{% url 'testproject:post_list' %}"><img src="static/images/logo.png" alt="프로필이미지" width=150 style="position: absolute; left: 50px; top:15px"/></a>  
            </h1>

            <div class="search_box" >
                
              
            </div>
            
            
            

            <div><a href="{% url 'account:login'%}"><img src="static/images/login.png" alt="heart" width=30 style="position: absolute; right: 100px; top:25px"></a></div>

        </section>
        
    </header>
    

    <table border = 0 style="position: absolute; left: 10px;">
        <tr>
    {% for data in posts %}
        <td>
            <section id="main_container">
                
                <div class="inner" >
                    <div class="contents_box">
                        <article class="contents">

                            <div class="img_section">
                                <div class="trans_inner">
                                    <a href="{% url 'testproject:click' data.id %}"><img src="{{data.image.url}}" alt="visual01" height="300"></a>
                                </div>
                            </div>

                            <div class="bottom_icons">

                                <div class="left_icons">

                                    <div class="small_heart">
                                        <a href="{% url 'testproject:like' data.id %}"><img src="static/images/heart.png" alt="heart" width=30></a>
                                    </div>
                                    <div class="heart_btn">
                                        <div class="sprite_heart_icon_outline" name="39" data-name="heartbeat"></div>
                                    </div>
                                    <div class="sprite_bubble_icon"></div>
                                    <div class="sprite_share_icon" data-name="share"></div>
                                </div>
                                <div class="right_icon">
                                    <div class="sprite_bookmark_outline" data-name="bookmark"></div>
                                </div>
    
                            </div>

                            <div class="likes m_text">
                                <div>좋아요:{{ data.like_cnt }}</div>
                                조회수
                                <span id="like-count-39">{{ data.views_cnt }}</span>
                                <span id="bookmark-count-39"></span>
                                개
                                <br>
                                노출수
                                <span id="like-count-39">{{ data.exposure}}</span>
                                <span id="bookmark-count-39"></span>
                                개
                                <div>글자수:{{ data.text_length }}</div>
                                노출은 되었으나 클릭되지 않은 횟수
                                <span id="like-count-39">{{ data.impressions_cnt }}</span>
                                <span id="bookmark-count-39"></span>
                                개
                                
                            </div>

                            <div class="comment_container">
                                
                                <div class="comment" id="comment-list-ajax-post37">
                                    {% for comment in comments|slice:":2" %}
                                        {% if data == comment.post %}
                                            <div class="comment-detail">
                                                <div class="nick_name m_text">{{comment.user}}</div>          
                                                : {{comment.content}}<br>
                                            </div>
                                        {% endif %}
                                    {% endfor %} 
                                </div>

                            </div>          

                            <div class="timer">누적 조회시간: {{ data.residence_time }} ms</div>
                            

                            <div class="comment_field" >
                                <form action="{% url 'testproject:comment_create' data.id %}" method="POST">
                                    {% csrf_token %}
                                    <div>
                                        <input type="text" placeholder="댓글달기..." name="content">
                                    </div> 
                                    <button type="submit" class="upload_btn m_text" style="background-color:white; border-color: white; border:0;">게시</button>
                                </form>
                            </div>
                        </article>
                        

                    </div>

                    
                </div>
            </section>
        </td>
    {% endfor %}
        
    </tr>
    </table>
    
       

        <div class="paginator">
            {% if posts.has_previous %}
            <div style="position: absolute; left: 35px; top: 750px;">
            <a href="?page={{posts.previous_page_number}}" style="text-align: center; margin-right: 1200px;"><img src="static/images/pngwing.com.png" alt="페이지네이터" width=100></a>
            </div>
            {% endif %}
            {% if posts.has_next %}
            <div style="position: absolute; right: 35px; top: 750px;">
            <a href="?page={{posts.next_page_number}}"><img src="static/images/pngwing.com copy.png" alt="페이지네이터" width=100></a>
            </div>
            {% endif %}
        </div> 
 
   

    
        {% comment %} <div id="post_list_ajax"></div>
        <input type="hidden" id="page" value="2"> {% endcomment %}
    </section>

    








    {% if messages %} {% for message in messages %} {% if message.tags %}
    <script>
      alert("{{ message }}");
    </script>
    {% endif %} {% endfor %} {% endif %}
</body>
</html>